@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>TODO MUNDO ODEIA O CHRIS</h1>
    <p class="lead">cadastro de personagens</p>
    
</div>

<center>
    <img src="~/familia.jpg" width="1050px" height="" />
</center>